<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes (FeatureSelected)="onNavigate($event)"></app-recipes>
      <app-shopping-list></app-shopping-list> -->
      <div></div>

      <router-outlet></router-outlet>

      <!-- </div>
    <button (click)="onDebug()">test</button>
    <button (click)="loggingService.onPrintArray(accounts)">print</button>
    <button (click)="loggingService.onUpdate(2, 'zul')">Modify</button>
    <button (click)="loggingService.onNavigate('shopping-list')">
      feature
    </button>
  </div> -->

      <!-- <div class="container">
  <app-cockpit
    (serverCreated)="onAddServer($event)"
    (blueprintCreated)="onAddBlueprint($event)"
    (deleted)="onDeleteElements()"
    (deletedPerm)="onDeletedPerm($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Add Change
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
      </app-server-element>
    </div>
  </div>
</div> -->
      <!-- <div class="container">
  <p appBasicHighlight appDropdown>test</p>
  <p appBetterHighlight [defaultColor]="defaultColor">test</p>
  <p appDropdown>Wyjazd</p>
</div>

<div class="container">
  <app-active-users></app-active-users>
  <app-inactive-users></app-inactive-users>
</div>
<div class="container">
  <label>Active To Inactive</label>
  <p>{{ user.activeToInactive }}</p>
</div>
<div class="container">
  <label>Inactive To Active</label>
  <p>{{ user.inactiveToActive }}</p>
</div> -->

      <!-- <app-game-control
  (intervalFired)="onIntervalFired($event)"
  (resetAll)="onDelete()"
  [oddTab]="oddTab"
  [evenTab]="evenTab"
></app-game-control>
<label>{{ labelElement }}</label>
<app-odd *ngFor="let odd of oddTab" [number]="odd"></app-odd>
<app-even *ngFor="let ev of evenTab" [number]="ev"></app-even> -->
    </div>
  </div>
</div>
<!-- <p>Activated comp</p> -->

<hr />
<!-- <app-reactive-form></app-reactive-form>
 -->
<!-- <app-form></app-form> -->
<!-- <app-reactive-assignment></app-reactive-assignment> -->
<!-- <app-form></app-form> -->
